* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#links {
  text-decoration: none;
  color: inherit;
}

.flex-header {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
}

header {
  height: 63px;
  background: linear-gradient(to bottom, #c5c1c0, grey);
  width: 100%;
  color: #0a1612;
  font-family: 'Armata';
  position: fixed;
}

#logo {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  padding: 20px 30px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header li a:hover {
  border-bottom: 5px solid #f7ce3e;
  padding-bottom: 4px;
}


/********SECTION**********/

section {
  font-family: 'Rubik', sans-serif;
}

.home {
  height: 600px;
  width: 100%;
  background: linear-gradient(to bottom right, #0a1612, #141B23);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  text-align: center;
}

.flex-intro h1 {
  color: #FFFFFF;
  font-size: 90px;
  border-bottom: 2px solid #1a2930;
  padding-bottom: 12px;
  margin-bottom: 12px;
  letter-spacing: 2px;
  text-shadow: 6px 6px 12px black;
}

.flex-intro h2 {
  color: white;
  letter-spacing: 4px;
  font-size: 18px;
}

.buttons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.buttons button {
  background-color: #c5c1c0;
  font-size: 45px;
  border-style: none;
  margin: 40px 40px;
  background: linear-gradient(to top, #c5c1c0, #7f7f7f);
  border: 1px solid white;
  box-shadow: 8px 8px 12px;
  border-radius: 4px;
}

.arrow {
  color: white;
  display: inline-flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  text-shadow: 1px 1px 5px #000000;
}

.projects {
  height: auto;
  width: 100%;
  background-color: #f7ce3e;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #0a1612;
}

.projects h1 {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: 600;
  border-bottom: 2px solid #1a2930;
  display: inline-block;
  text-align: center;
}

.flex-projects {
  max-width: 1100px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.flex-projects a {
  display: inline-block;
  margin: 0 15px 50px 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.flex-projects img {
  margin-bottom: 20px;
}

.about {
  height: auto;
  width: 100%;
  padding-bottom: 50px;
  background-color: #1a2930;
  color: white;
  display: flex;
  flex-direction: column;
}

.about h1 {
  font-size: 40px;
  font-weight: 600;
  border-bottom: 2px solid white;
  margin: 40px auto 0px;
}

.about-flex {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.about-flex h2 {
  margin-bottom: 24px;
  margin-top: 55px;
  font-size: 22px;
}
.contact {
  height: auto;
  width: 100%;
  padding-bottom: 50px;
  background-color: #0a1612;
  color: white;
  display: flex;
  flex-direction: column;
}
.contact h1 {
  font-size: 40px;
  font-weight: 600;
  border-bottom: 2px solid white;
  margin: 40px auto 0px;
}
